<!DOCTYPE html>
<html lang="uz">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title>{% block title %}NexBank{% endblock %}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com"/>
  <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&family=DM+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
  {% block extra_head %}{% endblock %}
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for cat, msg in messages %}
        <div class="flash flash-{{ cat }}">
          <span>{{ msg }}</span>
          <button onclick="this.parentElement.remove()">✕</button>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

{% block body %}{% endblock %}

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% block extra_js %}{% endblock %}
</body>
</html>
